<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Scripts.Render("~/bundles/gijgo")
    @Styles.Render("~/bundles/gijgocss")*@
    <link rel="shortcut icon" href="/Content/image/favicon.ico" />
</head>
<body>
    <div class="wrapper" id="data">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="background-color:#3E5C9A;">
            <!--navbar-header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="logo">
                    <a href="/">
                        @*<img src="/Content/image/logos06.png" alt="logo" style="width:230px;height:54px;" />*@
                        <img src="/Content/image/logo-color-big1.png" alt="logo" />
                       
                    </a>
                </div>

            </div>  <!-- /.navbar-header -->
            <!-- /.navbar-right top link -->

            <ul class="nav navbar-top-links navbar-right">

                <li class="profile">
                    Xin chào @Session["fullName"] 

                </li>

                <li class="dropdown">
                    <!--nav account-->

                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw" style="color:black"></i> <i class="fa fa-caret-down" style="color:black"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-tasks">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
                            <a href="@Url.Action("changepass","Login")"><i class="fa fa-gear fa-key"></i> Đổi mật khẩu</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="@Url.Action("Logout", "Login", new {area=""})"><i class="fa fa-sign-out fa-fw"></i> Thoát</a>
                        </li>
                    </ul>
                </li><!--nav account-->
             
            </ul>
            <!-- /.navbar-rigt top link -->
        </nav>
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    @if (Session["role"].ToString() == "superadmin")
                    {
                        <li>
                            <a href="/Account"><i class="fa fa-user"></i> Tài khoản</a>
                        </li>
                    }
                    <li>
                        <a href="/"><i class="fa fa-folder-open fa-fw"></i> @ViewBag.username</a>
                        @*<a href="@Url.Action("Index","Home",new { path=ViewBag.ftp+Session["chinhanh"].ToString()+"/USERS/"+ViewBag.username})"><i class="fa fa-folder-open fa-fw"></i> Thư mục @ViewBag.username</a>*@
                    </li>
                    <li>
                        <a href="@Url.Action("Index","Home",new { path=ViewBag.ftp+Session["chinhanh"].ToString()+"/NOIBO"})"><i class="fa fa-folder-open fa-fw"></i> THU MUC NOIBO</a>
                    </li>
                    @if (Session["phongban"].ToString() == "OB" || Session["phongban"].ToString() == "TMCO")
                    {
                        if (Session["adminkl"].ToString().ToLower() == "true")
                        {
                            <li>
                                <a href="@Url.Action("Index", "Home", new { path = @ViewBag.ftp + Session["chinhanh"].ToString() + "/OB/OBKL" })"><i class="fa fa-folder-open fa-fw"></i> PHONG KDKL</a>
                            </li>
                        }
                        if (Session["adminkd"].ToString().ToLower() == "true")
                        {
                            <li>
                                <a href="@Url.Action("Index", "Home", new { path = @ViewBag.ftp + Session["chinhanh"].ToString() + "/OB/OBKD" })"><i class="fa fa-folder-open fa-fw"></i> PHONG KDKD </a>
                            </li>
                        }
                        <li>
                            <a href="@Url.Action("Index", "Home", new { path = @ViewBag.ftp + "STS/VISA" })"><i class="fa fa-cc-visa"></i> THU MUC VISA</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index", "Home", new { path = @ViewBag.ftp + "TMCO" })"><i class="fa fa-folder-open fa-fw"></i> TMC OUTBOUND</a>
                        </li>
                    }
                    else if (Session["phongban"].ToString() == "ND" || Session["phongban"].ToString() == "TMCN")
                    {
                        @*<li>
                <a href="@Url.Action("Index", "Home", new { path = @ViewBag.ftp + "TMCN" })"><i class="fa fa-folder-open fa-fw"></i> Thư mục chung ND</a>
            </li>*@
                        if (Session["adminkl"].ToString().ToLower() == "true")
                        {
                            <li>
                                <a href="@Url.Action("Index", "Home", new { path = @ViewBag.ftp + Session["chinhanh"].ToString() + "/ND/NDKL" })"><i class="fa fa-folder-open fa-fw"></i> PHONG KDKL</a>
                            </li>
                        }
                        if (Session["adminkd"].ToString().ToLower() == "true")
                        {
                            <li>
                                <a href="@Url.Action("Index", "Home", new { path = @ViewBag.ftp + Session["chinhanh"].ToString() + "/ND/NDKD" })"><i class="fa fa-folder-open fa-fw"></i> PHONG KDKD</a>
                            </li>
                        }
                        <li>
                            <a href="@Url.Action("Index", "Home", new { path = @ViewBag.ftp + "TMCN" })"><i class="fa fa-folder-open fa-fw"></i> TMC NOIDIA</a>
                        </li>

                    }
                    else if (Session["phongban"].ToString() == "TF")
                    {
                        <li>
                            <a href="@Url.Action("Index", "Home", new { path = @ViewBag.ftp + Session["chinhanh"].ToString()+"/"+Session["phongban"].ToString() })"><i class="fa fa-folder-open fa-fw"></i> Phòng KDKL&HN </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Index","Home",new { path=ViewBag.ftp+Session["chinhanh"].ToString()+"/TMFIT"})"><i class="fa fa-folder-open fa-fw"></i> THU MUC CHUNG FIT</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a href="@Url.Action("Index", "Home", new { path = @ViewBag.ftp + Session["chinhanh"].ToString()+"/"+Session["phongban"].ToString() })"><i class="fa fa-folder-open fa-fw"></i> Phòng @Session["phongban"].ToString()</a>
                        </li>
                    }
                    @*<li>
            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Danh mục<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="/Xe">Xe </a>
                </li>
                <li>
                    <a href="/Laixe">Lái xe</a>
                </li>
                <li>
                    <a href="#">Đối tác</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>

        <li>
            <a href="#"><i class="fa fa-wrench fa-fw"></i> Sửa chữa<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="panels-wells.html">Bảo dưỡng</a>
                </li>
                <li>
                    <a href="buttons.html">Đột xuất</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>

        <li>
            <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="#">Second Level Item</a>
                </li>
                <li>
                    <a href="#">Second Level Item</a>
                </li>
                <li>
                    <a href="#">Third Level <span class="fa arrow"></span></a>
                    <ul class="nav nav-third-level">
                        <li>
                            <a href="#">Third Level Item</a>
                        </li>
                        <li>
                            <a href="#">Third Level Item</a>
                        </li>
                        <li>
                            <a href="#">Third Level Item</a>
                        </li>
                        <li>
                            <a href="#">Third Level Item</a>
                        </li>
                    </ul>
                    <!-- /.nav-third-level -->
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>
        <li>
            <a href="#"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li>
                    <a href="blank.html">Blank Page</a>
                </li>
                <li>
                    <a href="login.html">Login Page</a>
                </li>
            </ul>
            <!-- /.nav-second-level -->
        </li>*@
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>

        <div id="page-wrapper">
            @if (TempData["AlertMessage"] != null)
            {
                <div id="AlertBox" class="alert @TempData["AlertType"] hide">
                    @TempData["AlertMessage"]
                </div>
            }
                                            
            @RenderBody()
               
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/vendor")
    @RenderSection("scripts", required: false)
</body>
</html>
